---
import "../styles/main.css";
import "../styles/global.css";
import "bootstrap/dist/css/bootstrap.min.css";
import Navigation from '../components/Navigation.astro';
const pageTitle = "About Me";
const identity = {
	firstName: "Amy",
	country: "Shangai",
	occupation: "Space Engineer",
	hobbies: ["Anime", "video games", "swim"],
};

const skills = ["HTML", "CSS", "JavaScript", "Angular"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{ skillColor, fontWeight, textCase }}>
			.skill {
				color: var(--skillColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
		</style>
	</head>

	<body>
		<Navigation />

		<h1 class="mt-3">{pageTitle}</h1>

		<p>Hola! aquí te muestro mis datos:</p>
		<u>
			<li>Mi nombre {identity.firstName}.</li>
			<li>
				Vivo en {identity.country} y trabajo como {identity.occupation}.
			</li>
			{
				identity.hobbies.length >= 2 && (
					<li>
						mis aficiones son: {identity.hobbies[0]} y{" "}
						{identity.hobbies[1]}
					</li>
				)
			}
		</u>[]

		<p>Mis habilidades son:</p>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>

		{happy && <p>I am happy to be learning Astro!</p>}

		{finished && <p>I finished this tutorial!</p>}

		{
			goal === 3 ? (
				<p>My goal is to finish in 3 days.</p>
			) : (
				<p>My goal is not 3 days.</p>
			)
		}
	</body>[]
</html>
